template(name='nav')
  .row
    .col-md-10.col-md-offset-1
      nav.navbar.navbar-default
        .container-fluid
          .navbar-header
            a.navbar-brand(href='#') Find nearby
          .navbar-right
            .navbar-brand
              +loginButtons
