template(name='welcome')
  .row
    .col-md-10.col-md-offset-1
      .jumbotron
        h1 Hello, Welcome!
        p ...
        p
          a.btn.btn-primary.btn-lg(href='#', role='button') Please login to search nearby venues.
